
header,body{
    max-width:1140px ;
}
footer{
   width: 1440px;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.display-flex{
    display: flex;
}
/* Nav part */

.navigation{
    justify-content: space-between;
    align-items: center;
    
}
.navigation ul{
    list-style: none;
    display: flex;
}

.item{
    margin-right: 48px;

}
.navigation li a{
    text-decoration: none;
}
.navigation ul li img{
    width: 22px;
    height: 18px;
}
#ho{
   color: #252432; 
   font-weight: bold;
   font-size: 1rem;
}
.sh{
    color: #8987A1;
    font-weight: 400;
    font-size: 1rem;
}
#car{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}
/* Fresh section */
.fresh{
    margin-top:0px;
    display: flex;
    height: 461px;
    width: 1140px;
    justify-content: space-between;

}
.fresh-container{
    height: 297px;
    width: 570px;
    margin-top: 120px;
}
.fresh-img{
    width: 100%;
    margin-top: 106px;
}
.fresh-title{
    width: 570px;
    font-weight: bold;
    font-size: 4.05rem;
    color: #000000;
    margin-bottom: 11px;
}
.flower{
    color:#E95A08 ;
}
.color-1{
    color:#000000 ;
    font-size: 1.3rem;
    font-weight: 200;
}
.fresh-description{
width: 570px;
}
/* plants part */
.title-plants{
 text-align: center; 
    margin: 0 130px;
}
.para{
    width: 888px;
}
.titles{
    font-size: 3.1rem;
    font-weight: bold;
}
/* cards made */
.cards{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 25px;
}
.card{
    /* border: 1px solid black; */
    width: 270px;
    text-align: center;
    /* margin-top: 0 auto; */

}
.card img{
    width: 270px;
    height: 322px;
}
.lily{
   font-size: 1.2rem;
   font-weight: 500; 
   margin-bottom: 10px;
   margin-top: 19px;
}
.usd{
    font-size: 1.20rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px
}
.btn{
    width: 270px;
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 70px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}
/* Lover */
.loved-section{
    margin-top: 160px;
    gap: 60px;
    position: relative;
}
.describe{
margin:0 auto;
}
.sub-title-describe{
display: grid;
grid-template-columns: 1fr;

}
.love-write{
   width: 540px; 
}
.love-title{
    width:540px;
    font-size: 3.03rem;
    font-weight: bold;
}
.lover img{
    width: 540px;
}
.trust img{
    width: 286px;
    height: 286px;
    top: 0;
    
     position: absolute;
    transform: translateX(-290%); 
    
    /* transform: translateY(-90%); */
    z-index: 10;
    /* joins */}

    .join{
        background-image: url("../assets/news-letter-bg.png");
        height: 533px;
        
    }
    .branch{
        font-size: 3.05rem;
        font-weight: bold;
        color: #FFFFFF;
    }
#email{
    width: 644px;
    height: 50px;
}
.mid-branch{
    justify-content: center;
    text-align: center;
    align-items: center;
}
@media screen and (max-width:576px) {
    .item a{
        display: none;
    }
.fresh-container{
    margin-top:0px;
}
}
