
header,main{
    width:1140px ;
    margin-left: 150px;
}
footer{
   width: 1440px;
  
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.display-flex{
    display: flex;
}
/* Nav part */

.navigation{
    justify-content: space-between;
    align-items: center;
    
}
.navigation ul{
    list-style: none;
    display: flex;
}

.item{
    margin-right: 48px;

}
.navigation li a{
    text-decoration: none;
}
.navigation ul li img{
    width: 22px;
    height: 18px;
}
#ho{
   color: #252432; 
   font-weight: bold;
   font-size: 1rem;
}
.sh{
    color: #8987A1;
    font-weight: 400;
    font-size: 1rem;
}
#car{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}
/* Fresh section */
.fresh{
    margin-top:0px;
    display: flex;
    height: 461px;
    width: 1140px;
    justify-content: space-between;

}
.fresh-container{
    height: 297px;
    width: 570px;
    margin-top: 120px;
}
.fresh-img{
    width: 100%;
    margin-top: 106px;
}
.fresh-title{
    width: 570px;
    font-weight: bold;
    font-size: 4.05rem;
    color: #000000;
    margin-bottom: 11px;
}
.flower{
    color:#E95A08 ;
}
.color-1{
    color:#000000 ;
    font-size: 1.3rem;
    font-weight: 200;
}
.fresh-description{
width: 570px;
}
/* plants part */
.title-plants{
 text-align: center; 
    margin: 0 130px;
}
.para{
    width: 888px;
}
.titles{
    font-size: 3.1rem;
    font-weight: bold;
}
/* cards made */
.cards{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 25px;
    width: 100%;
    
}
.card{
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
    /* margin-top: 0 auto; */

}
.card img{
    /* width: 270px; */
    width: 100%;
    /* height: 322px; */
    height: auto;
    object-fit: cover;
}
.lily{
   font-size: 1.2rem;
   font-weight: 500; 
   margin-bottom: 10px;
   margin-top: 19px;
}
.usd{
    font-size: 1.20rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px
}
.btn{
    width: 270px;
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 70px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}
/* Lover */
.loved-section{
    margin-top: 160px;
    gap: 60px;
    /* position: relative; */
}
.describe{
    margin:0 auto;
}
.sub-title-describe{
    display: grid;
    grid-template-columns: 1fr;

}
.lover{
    position: relative;
}
.love-write{
   width: 540px; 
}
.love-title{
    width:540px;
    font-size: 3.03rem;
    font-weight: bold;
}
.lover img{
    width: 540px;
}
.trust img{
    width: 286px;
    height: 286px;
    top: -100px;
    left: 350px;
     position: absolute;
}

/* latest deals */
.latest-head{
    font-size: 3.05rem;
    font-weight: bold;margin-top: 120px;
}
.lasted{

margin-left: 300px;
}
.latest-para{
   max-width: 888px;
    text-align: center;
    margin: 0 auto;
}

/* box part */
.discount{
    margin-top: 100px;
    gap: 28px;
}
.offer{
    /* gap: 28px; */
}
.box-1{
    
    height: 201px;
    width: 367px;
    background-image: url("../assets/deal-bloom.png");
    border-radius:14px ;
    position: relative;
    margin-bottom: 25px; 
}
.box-2{
 
    height: 201px;
    width: 367px;
    background-image: url("../assets/deal-ana.png");
    border-radius:14px ;
    position: relative;
}
.box-11{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    
}

.box{
    width: 753px;
    height: 423px;
    background-image: url("../assets/deal-zabo.png");
    border-radius: 22px;
    position: relative;
    overflow: hidden;
    
}
.box-12{
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    border-radius: 14px;
}
.box-22{
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
   
}
.off{
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
   
}
.shop{
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
}
.zabo{
    font-size:2.5rem ;
    font-weight: bold;
    color: #FFFFFF;
}
.now{
    font-size:1.8rem ; 
    font-weight: 600;
    color: #FFFFFF;
}

    /* joins */

    .join{
        background-image: url("../assets/news-letter-bg.png");
        height: 533px;
        position: relative;
        margin-top: 120px;
        
    }
    .branch{
        font-size: 3.05rem;
        font-weight: bold;
        color: #FFFFFF;
    }
#email{
    width: 644px;
    height: 50px;
}
.mid-branch{
    position: absolute;
    text-align: center; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}
.input{
    display: flex;
}
/* footer part */
.footer{
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
}
.sub-foot li  {
list-style: none;

}
.sub-foot li a{
text-decoration: none;
}
.main-footer{

}
.sub-foot-head{
    width:355px ;
}
.sub-foot-icon{
    display: flex;
    gap: 24px;
    width: 36px;
    height: 36px;
}
.sub-foot li{
    margin-bottom: 26px;
}
@media screen and (max-width:576px) {
    header, main, footer {
    width: 100%;
    margin-left: 0px;
  }
  #cart{
  display: flex;
  flex-direction: row;
  flex-flow: row;
    justify-content: space-around;

  }
    .item a{
        display: none;
    }
.fresh{
    flex-direction: column-reverse;
    margin-top: 128px;
    width: 100%;
    /* height: auto; */
}
.fresh-img{
    width: 100%; 
    height:auto;
    margin-top: 0px;
}
.fresh-container{
    margin-top:0px;
    width: 100%;
}
.fresh-title{
    font-size: 2.4rem;
    width: 100%;
}
.fresh-description{
    font-size: .93rem;
    width: 100%;
}
/* our plants */
.titles{
    font-size: 1.5rem;
}
.para{
    width: 100%;
    font-size: .93rem;
    text-align: center;
}
.title-plants{
    width: 100%;
    margin-left: 0;
}
.cards{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns:repeat(2,1fr) ;
    
    /* grid-template-columns: 1fr; */
    grid-template-rows:repeat(6,1fr) ;
    /* width: 100%; */
    justify-content: center;
    column-gap:0px;
    margin-left: 15px;
}
    
.card{
  width: 171px;
    
}
.card:nth-last-child(1),
    .card:nth-last-child(2) {
        display:none;
    }
.btn{
    width: 171px;
    height: 50px;
    font-size: 16px;
    padding: 19px 30px;
}
/* loved section */
.loved-section{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.trust{
    display: none;
}
.lover img{
width: 100%;
}
.love-title{
    font-size: 1.5rem;
    width: 100%; 
}
.describe{
    font-size: .93rem;
    width: 100%;
}
.love-write{
   width: 385px; 
}
.latest-head{
    font-size: 1.5rem;
}
.discount{
    display: flex;
    flex-direction: column;
    width: !00%;
    height: auto;
}
.box{
    width: 368px;
    height: 177px; 
}
.zabo{
    font-size:1.04rem ;
}
.now{
    font-size: 1rem;
}
}
